
.nav {
    padding: 0 5%;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #7076fe;
  border-bottom: 1px solid #7076fe;
}
