.images {
  color: aliceblue;
}

.images img {
  padding: 3px;
  border-radius: 10px;
  border-color: black;
}

.img {
  height: 500px;
  width: 19%;
}

@media (max-width: 600px){
  
  .img {
    height:40vh;
    width: 80%;
  }
}
