.contact {
  display: flex;
  list-style: none;
  text-align: center;
  font-size: 20px;
  justify-content: space-around;
}

.contact li {
  margin: 0;
  margin-left: 4rem;
}

@media (max-width: 600px) {
  .contact {
    justify-content: space-between;
  }
  .contact li {
    margin-left: 0;
    margin-bottom: 1rem;
    
  }
  .contact {
    display: block;
    
  }
}
