.footer {
  
  background-color: #1f1f1f;
  justify-items: center;
  bottom:0;
  left:0;
  position: relative;
  z-index: 99999;
  width: 100vw;
  margin-top: 2rem;
  
}

.list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.footer a {
  
  padding: 1rem;
}


