.footer {
  margin-top: 2rem;
  
  justify-items: center;
  bottom:0;
  left:0;
  width: 100vw;
  
}

.list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.footer a {
  
  padding: 1rem;
}


